REACT_APP_CONTRACT_ADDRESS = 
REACT_APP_CONTRACT_ABI_NAME = 
REACT_APP_CHILD_CONTRACT_ADDRESS = 
REACT_APP_CHILD_CONTRACT_ABI_NAME = 
REACT_APP_ETHERS_VALUE = 
REACT_APP_MAX_PER_MINT = 
REACT_APP_REGISTRATION_BASE_URL = 